@charset "UTF-8";
/* Body */
body {
	font-family: 'Open Sans', sans-serif;
	background-image: url("http://imgur.com/ZrUehK0.jpg");
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-color: #000000;
	font-style: normal

}
/* Container */
.container {
	width: 70%;
	position: relative;

}

th { text-align: center;
	color: #FFFFFF;}
The next rules align the text of the header cells on their baseline and vertically center the text in each data cell:

th { vertical-align: baseline }
td { vertical-align: middle 
color: #FFFFFF;}
The next rules specify that the top row will be surrounded by a 3px solid blue border and each of the other rows will be surrounded by a 1px solid black border:

table   { border-collapse: collapse }
tr#row1 { border: none }
tr#row2 { border: none }
tr#row3 { border: none }


#heroparent {display: table;
	position: fixed;
  	left: 50%;
	background-color: #000000;
	width: 200px;
	height: 100px;


}


#herochild {
    display: table-cell;
    vertical-align: middle;
	color: #FFFFFF;
	font-weight: 600;
	text-align: center;
	letter-spacing: 4px;
	font-size: 20px;

}




/* Stats Gallery */
.stats {
	
	margin-bottom: 5px;
}
.gallery {
	display: inline-block;
	color: #FFFFFF;
	width: 700px;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 5px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
	font-weight: 200;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #FFFFFF;
	font-weight: 600;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #FFFFFF;
	font-weight: 200;
}



















